{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
<article class="detail_form">
    <div class="detail_wrap">
        <div class="detail_title">
            <h2>{{ content.title }}</h2>
        </div>
        <div class="detail_content">
            <p>{{ content.content }}</p>
        </div>
        <div class="detail_footer">
            <a href="{% url 'index' %}">목록</a>
            <a href="{% url 'edit' pk=content.pk %}">수정하기</a>
            <a href="{% url 'delete' content.pk%}">삭제</a>
        </div>
    </div>
</article>

{% endblock %}
