{% extends 'blog/base.html' %}

{% load static %}

{% block content %}
    <article class="contents">
        <div class="content_wrap">
            {% for content in contents %}

                <div class="content">
                    <a href="{% url 'blogdetails' content.pk %}">
                        <div class="content_title">
                            <p>{{ content.title }}</p>
                        </div>
                    </a>
                </div>

            {% endfor %}
        </div>
    </article>
    <article class="content_footer">
        <p class="write"><a href="{% url 'write' %}">글쓰기</a></p>
        <form action="{% url 'search' %}" method="get">
            {% csrf_token %}
            <div id="search">
                <input type="search" value="{{search}}" name="search">
                <button type="submit" class="search_go">go!</button>
            </div>
        </form>
    </article>
{% endblock %}