{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
<article class="edit_form">
    <form action="{% url 'edit' content.id%}" method="POST" class="edit_area">
        {% csrf_token %}
        <div class="edit_title_area">
            <label for="edit_title" class="edit_title">제목 :</label>
            <input type="text" name="title" value="{{content.title}}" id="edit_title">
        </div>
        <div class="edit_content_area">
            <label for="edit_content" class="edit_content">내용 :</label>
            <textarea cols="40" rows="10" name="content" id="edit_content">{{content.content}}</textarea>
        </div>
        <input type="submit" vlaue="수정하기" class="btn">
    </form>
</article>
{% endblock %}